serve
.DS_Store
*.dSYM/Contents/Info.plist
*.o
*.a
config_parser
*.gcno
*.gcda
*.old
server_test
server_config_test
request_handler_test
config_parser_test
response_test
config_parser
Makefile~
team11-ec2-key-pair.pem
deploy/
serve.tar
